<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
        *ngFor="let item of lista; let i = index"
        [class.active]="i === 0"
        [attr.aria-label]="'Slide ' + (i + 1)"
        [attr.data-bs-slide-to]="i"
        [attr.data-bs-target]="'#carouselExampleCaptions'"
            aria-current="true" aria-label="Slide 1"></button>
    </div>
    <div class="carousel-inner position-relative">
        <div *ngFor="let item of lista; let i = index" class="carousel-item" [class.active]= "i === 0">
            <img [src]="item.imagen" class="d-block w-100 object-fit-cover item_carrusel" alt="...">
            <div class="position-absolute top-0 w-100 h-100 d-flex flex-column gap-2 justify-content-center align-items-center">
                <div class="contenedor_slogans p-5 text-center w-75 rounded rounded-3">
                    <div>
                        <div *ngIf="item.foto">
                            <img [src]="item.foto" alt="foto" class="img-fluid w-25">
                        </div>
                        <h5 class="fw-bold titulos display-1">
                            {{item.nombre}}
                        </h5>
                    </div>
                    <div *ngIf="item.descripcion">
                        <p class="slogans texto_slogans fw-bold fondo-descripcion">
                            {{item.descripcion}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>