<div>
    <ul class="contenedor_opciones_sass rounded rounded-lg list-unstyled">
        <li *ngFor="let item of departamentos" class="contenedor border py-2 px-1">
            <div class="d-flex justify-content-between align-items-center gap-3">
                <p class="contenido texto_contenidos w-75 d-flex m-0">
                    {{item.nombre | titlecase}}
                </p>
                <div class="d-flex justify-content-center align-items-center">
                    <!-- Usa data-bs-toggle y data-bs-target -->
                    <button class="btn btn-primary" type="button" (click)="openModal(item)" data-bs-toggle="modal"
                        data-bs-target="#modalExample">
                        <i class="bi bi-eye me-1"></i>
                        Mostrar
                    </button>
                </div>
            </div>
        </li>
    </ul>
</div>

<!-- Modal -->
<div class="modal fade" id="modalExample" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">{{selectedItem?.nombre | uppercase}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div *ngIf="selectedItem?.detalles">
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div *ngFor="let key of getObjectKeys(selectedItem.detalles); let i = index" class="mb-3">
                            <div class="accordion-item">
                                <h2 class="accordion-header" [id]="'flush-heading' + i">
                                    <button class="accordion-button collapsed py-1 px-2" type="button" data-bs-toggle="collapse"
                                        [attr.data-bs-target]="'#flush-collapse' + i" aria-expanded="false"
                                        [attr.aria-controls]="'flush-collapse' + i">
                                        <p class="contenido my-2">{{key | uppercase | removerGuionBajo}}</p>
                                    </button>
                                </h2>
                                <div [id]="'flush-collapse' + i" class="accordion-collapse collapse"
                                    [attr.aria-labelledby]="'flush-heading' + i"
                                    data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <ng-container *ngIf="isObject(selectedItem.detalles[key])">
                                            <div *ngFor="let subKey of getObjectKeys(selectedItem.detalles[key])"
                                                class="d-lg-flex justify-content-between gap-4 mb-2 pb-2 border-bottom w-100">
                                                <!-- nombre del documento -->
                                                <p class=""><strong>{{subKey |removerGuionBajo}}:</strong></p>
                                                <!-- contenido de los apartados -->
                                                <ng-container *ngIf="isObject(selectedItem.detalles[key][subKey])" >
                                                    <!-- descripcion y ruta del documento -->
                                                    <div *ngFor="let innerKey of getObjectKeys(selectedItem.detalles[key][subKey])"
                                                        class="rounded">
                                                        <p *ngIf="innerKey.includes('detalle')" class="p-0 m-0">
                                                            <!-- descripcion -->
                                                            {{selectedItem.detalles[key][subKey][innerKey]}}
                                                        </p>
                                                        <!-- documento como botón -->
                                                        <a *ngIf="innerKey.includes('documento')"
                                                            [href]="selectedItem.detalles[key][subKey][innerKey]"
                                                            target="_blank" class="btn btn-primary my-2 btn_mostrar">
                                                            <i class="bi bi-eye me-1"></i>
                                                            Mostrar 
                                                        </a>
                                                    </div>
                                                </ng-container>

                                                <ng-container *ngIf="!isObject(selectedItem.detalles[key][subKey])">
                                                    <p><strong>{{subKey}}:</strong>
                                                        {{selectedItem.detalles[key][subKey]}}</p>
                                                </ng-container>
                                            </div>
                                        </ng-container>
                                        <ng-container *ngIf="!isObject(selectedItem.detalles[key])">
                                            <p><strong>{{key}}:</strong> {{selectedItem.detalles[key]}}</p>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>