<div>
    <ul class="contenedor_opciones_sass rounded rounded-lg p-3 list-unstyled">
        <li *ngFor="let item of lista_5s" class="contenedor mb-2">
            <div class="d-flex justify-content-between align-items-center gap-3">
                <p class="contenido texto_contenidos w-75 d-flex m-0">
                    {{item.nombre | titlecase}}
                </p>
                <div class="d-flex justify-content-center align-items-center">
                    <!-- Usa data-bs-toggle y data-bs-target -->
                    <button class="btn btn-primary" type="button" (click)="openModal(item)" data-bs-toggle="modal"
                        data-bs-target="#modalExample">
                        <i class="bi bi-eye me-1"></i>
                        Mostrar
                    </button>
                </div>
            </div>
        </li>
    </ul>
</div>
<!-- Modal -->
<div class="modal fade" id="modalExample" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">{{selectedItem?.nombre | uppercase}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div *ngIf="selectedItem?.nombre.includes('Formatos')">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Sucursal</th>
                                <th scope="col">Departamento</th>
                                <th scope="col">Formato</th>
                                <th scope="col">Documento</th>
                            </tr>
                        </thead>
                        <tbody class=" table-group-divider">
                            <tr *ngFor="let doc of documentos">
                                <td>{{ doc.sucursal }}</td>
                                <td>{{ doc.departamento }}</td>
                                <td>{{ doc.nombre_formato }}</td>
                                <!-- <td><a [href]="doc.documento" target="_blank">{{ doc.documento }}</a></td> -->
                                <td class="text-center"><a [href]="doc.documento" target="_blank" class="btn btn-outline-danger">Mostrar</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div *ngIf="selectedItem?.nombre.includes('Plantillas para etiquetas')">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">Sucursal</th>
                                <th scope="col">Descripcion</th>
                                <th scope="col">Tipo</th>
                                <th scope="col">Uso</th>
                                <th scope="col">Documento</th>
                            </tr>
                        </thead>
                        <tbody class=" table-group-divider">
                            <tr *ngFor="let doc of plantillas">
                                <td>{{ doc.nombre }}</td>
                                <td>{{ doc.sucursal }}</td>
                                <td>{{ doc.descripcion }}</td>
                                <td>{{ doc.tipo }}</td>
                                <td>{{ doc.uso }}</td>
                                <!-- <td><a [href]="doc.documento" target="_blank">{{ doc.documento }}</a></td> -->
                                <td class=" text-center"><a [href]="doc.documento" target="_blank" class="btn btn-outline-danger">Mostrar</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div *ngIf="selectedItem?.nombre.includes('resultados')">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Sucursal</th>
                                <th scope="col">Departamento</th>
                                <th scope="col">Padrino</th>
                                <th scope="col">Inicial</th>
                                <th scope="col">Fin</th>
                                <th scope="col">Año</th>
                                <th scope="col">Documento</th>
                            </tr>
                        </thead>
                        <tbody class=" table-group-divider">
                            <tr *ngFor="let doc of resultados_evaluaciones5s">
                                <td>{{ doc.sucursal }}</td>
                                <td>{{ doc.departamento }}</td>
                                <td>{{ doc.padrino5s }}</td>
                                <td>{{ doc.mes_inicio }}</td>
                                <td>{{ doc.mes_final }}</td>
                                <td>{{ doc.year }}</td>
                                <!-- <td><a [href]="doc.documento" target="_blank" class="btn btn-primary">{{ doc.documento }}</a></td> -->
                                <td class=" text-center"><a [href]="doc.documento" target="_blank" class="btn btn-outline-danger">Mostrar</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div *ngIf="selectedItem?.nombre.includes('plantillas oficiales') 
                            || selectedItem?.nombre.includes('fondos')">
                    <div  class="max-w-full d-flex flex-wrap gap-5 mx-auto justify-content-center">
                        <div *ngFor="let item of plantillas_imagenes" class="">
                            <img [src]="item.documento" alt="imagen" class="d-block img_plantilla">
                        </div>
                    </div>
                </div>
                <div *ngIf="selectedItem && !selectedItem.nombre.includes('Formatos') && 
                            !selectedItem.nombre.includes('Plantillas')
                            && !selectedItem?.nombre.includes('resultados')
                            && !selectedItem?.nombre.includes('plantillas oficiales')
                            && !selectedItem?.nombre.includes('fondos de pantalla')">
                    <div *ngFor="let key of getObjectKeys(selectedItem.detalles)">
                        <p><strong>{{ key }}:</strong> {{ selectedItem.detalles[key] }}</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>