<div class="not-found-container vh-100">
    <div class="container">
        <div class="row ">
            <div class="col-12 d-flex flex-column justify-content-center align-items-center">
                <img [src]="img_not_found" alt="404 Not Found"
                    class=" w-25 mb-1">
                <h1 class="display-1 text-danger m-0">404</h1>
                <h2 class="display-4 m-0">¡Oops! Página No Encontrada</h2>
                <p class="lead m-0">Lo sentimos, pero la página que buscas no existe. Puede que haya sido movida o
                    eliminada.</p>
                <a href="/" class="btn btn-primary btn-lg mt-3">Volver a la Página de Inicio</a>
            </div>
        </div>
    </div>
</div>