@import '../../../styles.sass'
.color_barra
    background-color: $color-gris2
    transition: all 0.7s ease
.color_barra_scroll
    background-color: #c21c0374

.opciones_navbar
    margin-top: 10px
    background-color: $color-rojo
    border-radius: 12px
    @media (min-width: 768px)
        background-color: $color-rojo
        padding: 0px 15px

.tamaño_logo
    display: flex
    width: 45%
    max-width: 300px
    @media (min-width: 768px) 
        width: 40%
    

.texto_barra_navegacion
    position: relative
    padding: 0 2px
    cursor: pointer
    &::before
        content: ''
        display: flex
        height: 2px
        background-color: $color-rosa
        width: 0
        position: absolute
        left: 0
        bottom: 3px
        transition: width 0.5s ease
    &:hover::before
        @media (min-width: 768px)
            width: 100%
.texto_slogans
    color: $color-base

