@import "../node_modules/bootstrap/scss/bootstrap"
/*colores*/
$color-base: #fdf6fd
$color-rojo: #d90429
$color-rojo2: #c21d03
$color-rosa: #ff98aa
$color-gris1: #edf2f4
$color-gris2: #d9dee4
$color-gris3: #bfc7d1
$color-gris4: #232121

/*letras*/
$font-size-xs: 1rem
$font-size-sm: 1.25rem
$font-size-md: 1.8rem
$font-size-lg: 2rem
$font-size-xl: 2.5rem

$contenedor-fondo : $color-gris2